.logo {
    width: 300px;
}

.logo-branco {
    width: 300px;
}

body {
    font-family: Courier;
}

header {
    background: url("banner.jpg");
    padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 150px;
	right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a:hover{ 
    color: #C78C19;
    text-decoration: underline;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos li:hover {
    border-color: #C78C19;
    color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
    color: #088C19;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.3%;
	padding: 30px 20px;
	box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.propduto-descricao {
    font-size: 15px;
}

.produto-preco { 
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 15px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.contato {
    display: block;
    margin: 0 0 10px;
    padding: auto;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background:darkgreen;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
    box-sizing: border-box;
    border: 2px solid #000000;
}

thead {
	background: orange;
    color: #FFFFFF;
    font-size: 20px;
}

tbody {
    background: #FFFFFF;
    color: #000000;
    font-size: 15px;
}

td, th {
    border: 0.1px solid #000000;
    padding: 8px 15px;
    font-weight: bold;
    font-family: Courier;
}