.principal {
    background: #cccccc;
    padding: 2%;
}

.titulo-centralizado {
    text-align: center;
}

#missao {
    font-size: 120%;
}

p {
    text-align: center;
}

.itens {
    font-style: italic;
}

.itens-beneficios {
    display: inline-block;
    width: 20%;
    margin-right: 15%;
    vertical-align: top;
}

#imgbeneficios {
    width: 50%;
}

.beneficios {
    background: #FFFFFF;
    padding: 3%;
}

em strong {
    color: red;
}

.logo {
    width: 300px;
}

.logo-branco {
    width: 200px;
}

header {
    background: url("banner.jpg");
}

.caixa {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

nav { 
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a:hover{ 
    color: #C78C19;
    text-decoration: underline;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}